/* 헤더 */
header {
  background-color: #fff;
  border-bottom: 1px solid #eee;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;

}
header .logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #007bff;
}
header nav a {
  margin: 0 1rem;
  text-decoration: none;
  color: #333;
}
.login-btn {
  background-color: #007bff;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.form-bu {
  text-decoration-line: none;
  color: #1B72E8;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #f7f8fa;
  margin: 0;
  padding: 0;
}

main {
  display: flex;
  justify-content: center;
  padding: 40px 20px;
}

.questionnaire {
  text-align: center;
  max-width: 600px;
  background: white;
  padding: 40px;
  border-radius: 16px;
  box-shadow: 0 5px 20px rgba(0,0,0,0.05);
}

.question-box {
  margin-top: 30px;
}

.progress-bar {
  background-color: #e0e0e0;
  height: 6px;
  border-radius: 3px;
  margin-bottom: 20px;
}

.progress {
  height: 6px;
  background-color: #5c5be5;
  border-radius: 3px;
  transition: width 0.3s ease;
}

.question-number {
  font-weight: bold;
  margin-bottom: 10px;
}

.question-text {
  font-size: 18px;
  margin-bottom: 20px;
}

form label {
  display: block;
  text-align: left;
  background: #f2f2f2;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  background-color: #5c5be5;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

